#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  justify-content: space-between;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

p {
  font-size: 23px;
}

button {
  font-size: 23px;
  background: #ffd400;
  border-radius: 5px;
  border: 0;
  padding: 5px 25px;
}

.header-controls {
  display: flex;
  justify-content: space-between;
}

.header-controls button:hover {
  color: #333;
}

.tempo-control {
  display: flex;
  flex-direction: column;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.json-display {
  font-size: 16px;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.instrument .json-display {
  background: #f7f7f7;
}

.instrument .json {
  text-align: center;
}

.bg-primary .json-display {
  background: #ffd160;
}

h2 {
  margin-bottom: 20px;
}

.json {
  margin-bottom: 20px;
  color: #313131;
}

.curly-brace {
  color: #313131;
}

.key {
  color: deeppink;
}

.value {
  color: #4131ff;
}

#mainNav {
  background: #f7f7f7;
  min-height: 65px;
}

#mainNav .navbar-brand,
#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {
  color: #d32436;
  font-weight: 400;
}

#mainNav nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
}

#mainNav nav a {
  margin: 0;
}

#mainNav nav a:nth-of-type(2),
#mainNav nav a:nth-of-type(2):focus,
#mainNav nav a:nth-of-type(2):hover {
  color: #333;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
}

.navbar .play-controls {
  display: flex;
}

.navbar .play-controls button,
.navbar .play-controls button:focus,
.play-controls button,
.play-controls button:focus {
  background: #ffd400;
  margin-right: 40px;
  color: #333;
}

.navbar .tempo-control {
  margin-right: 0;
}

.lyrics {
  position: fixed;
  background: #1b1b1be0;
  min-height: 56px;
  width: 100%;
  bottom: 0;
  color: #fff;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.highlight {
  color: #47ccff;
}

.about-page {
  padding-top: 100px;
  text-align: left;
}

.about-page p {
  font-size: 18px;
}

.about-page h3 {
  margin-top: 50px;
}

.song-section img:nth-of-type(1) {
  max-width: 300px;
}

.image-collection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.drums-section .image-collection:nth-of-type(1) img:nth-of-type(1) {
  max-width: 350px;
}
.drums-section .image-collection:nth-of-type(2) img:nth-of-type(1) {
  max-width: 400px;
}
.drums-section .image-collection:nth-of-type(3) img:nth-of-type(1) {
  max-width: 360px;
}
.drums-section .image-collection:nth-of-type(4) img:nth-of-type(1) {
  max-width: 450px;
}

.bass-section .image-collection:nth-of-type(1) img:nth-of-type(1) {
  max-width: 800px;
}
.bass-section .image-collection:nth-of-type(2) img:nth-of-type(1) {
  max-width: 250px;
}
.bass-section .image-collection:nth-of-type(3) img:nth-of-type(1) {
  max-width: 450px;
}

.poly-section .image-collection:nth-of-type(1) img:nth-of-type(1) {
  max-width: 1100px;
}

.lyrics-section .image-collection:nth-of-type(1) img:nth-of-type(1) {
  max-width: 430px;
}

.lyrics-section a {
  color: #db2430;
}

.drums-section img,
.bass-section img,
.poly-section img {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.ReactModal__Overlay {
  z-index: 1100;
}

.no-sound-modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid rgb(232, 232, 232);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.no-sound-modal button {
  background: white;
  color: #db2430;
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 17px;
}

.no-sound-modal a {
  color: #db2430;
}

.no-sound-modal p {
  font-size: 17px;
}

.navbar .play-controls .btn-no-sound,
.navbar .play-controls .btn-no-sound:focus {
  font-size: 15px;
  position: absolute;
  top: 109px;
  right: 5px;
  margin: 0;
  padding: 5px 10px;
  background: #4e4e4e;
  color: #fff;
  border-radius: 5px;
}

section.instrument:nth-of-type(2) .json-display .json div {
  min-height: 100px;
}

section.instrument:nth-of-type(3) .json-display .json div {
  min-height: 130px;
}

@media only screen and (min-width: 600px) {
  .json-display {
    font-size: 20px;
  }

  .instrument img {
    max-width: 500px;
  }
}

@media only screen and (min-width: 770px) {
  .navbar .play-controls .btn-no-sound,
  .navbar .play-controls .btn-no-sound:focus {
    top: 69px;
  }
}

@media only screen and (min-width: 992px) {
  .instrument .json {
    order: 2;
  }

  .tempo-control {
    margin-right: 50px;
  }

  .json-display {
    font-size: 26px;
    padding: 50px;
    flex-direction: row;
    align-items: center;
  }

  .instrument .json {
    min-width: 550px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
